* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 25px 50px;

  ul {
    display: flex;
    align-items: center;

    li {
      margin: 0 30px;
      font-weight: 600;
      list-style: none;
      cursor: pointer;

      &:hover { color: #777; }

      &:last-child { margin-right: 0; }
    }
  }
}

#homepage-container {
  img {
    display: block;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
  }
  
  #text-container {
    padding: 75px 100px;

    h2 {
      margin-bottom: 60px;
      text-align: center;
    }

    p {
      max-width: 800px;
      width: 70%;
      margin: 0 auto 30px;
      line-height: 22px;
    }
  }
}

#menu-container {
  text-align: center;

  h2 {
    margin: 40px 0 50px;
  }
  
  div {
    width: 350px;
    margin: 0 auto;
    padding: 20px 0;
    background: #eee;

    
    ul {
      margin-bottom: 15px;
      padding: 20px;
      
      li {
        margin-bottom: 5px;
        list-style: none;
        
        &:first-child {
          margin-bottom: 15px;
          font-weight: 600;
        }
      }
    }
  }
}

#contact-container {
  width: 400px;
  margin: 0 auto;

  h2 {
    margin: 40px 0 50px;
    text-align: center;
  }

  form {
    display: flex;
    flex-wrap: wrap;

    div {
      flex: 1 1 100%;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 25px;
    }

    label {
      flex: 1 1 100%;
    }

    input, textarea {
      flex: 1 1 100%;
    }

    input {
      padding: 5px 7px;
    }

    textarea {
      height: 100px;
    }

    button {
      margin: 0 auto;
      padding: 10px 35px;
      font-weight: 600;
      color: #fff;
      background: limegreen;
      border: none;
      border-radius: 8px;
    }
  }
}